.footer {
  width: 1190px;
  margin: 0 auto;
  color: #333;
  font-size: 12px;
  line-height: 2;
  box-sizing: border-box;
  text-align: left;

  a {
    color: #666;
  }

  a:hover {
    color: #fe8c00;
  }

  .footer-link {
    padding: 40px 45px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

    .footer-column {
      width: 20%;
      float: left;

      dl {
        padding-bottom: 20px;
        color: #666;

        dt {
          color: #333;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }

  .footer-copyright {
    color: #999;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
    line-height: 1.6;

    .footer-copyright-left {
      float: left;

      p {
        color: #999;

        a {
          color: #999;
          margin-right: 20px;
        }

        a:hover {
          color: #fe8c00;
        }
      }
    }

    .footer-copyright-right {
      float: right;
      text-align: right;

      a {
        color: #999;
      }

      .footer-copyright-cert {
        text-align: left;
        padding-top: 6px;

        a {
          color: #999;

          img {
            float: left;
            width: 38px;
            height: 38px;
          }

          p {
            float: left;
            line-height: 38px;
            padding: 0 5px;
          }

          &:hover {
            color: #fe8c00;
          }
        }

        .sp-ft {
          display: inline-block;
          overflow: hidden;
          text-indent: -1000px;
          height: 38px;
          background-image: url('https://s0.meituan.net/bs/fe-web-meituan/8a39c6b/img/sprites/footer.png');
          background-repeat: no-repeat;
          margin-right: 2px;
        }

        .sp-ft--record {
          width: 109px;
          background-position: 0 -167px;
        }

        .sp-ft--kent {
          width: 107px;
          background-position: 0 -127px;
        }

        .sp-ft--12315 {
          width: 107px;
          background-position: 0 -40px;
        }
      }
    }
  }
}